# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
log.txt

# Dist build output
dist/
build/
*.tsbuildinfo

# Coverage/testing
coverage/
.nyc_output

# OS / Editor
.DS_Store
.vscode/
.idea/
*.swp

# Temporary
tmp/
temp/
